<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weareholidays.bia" >

    <application>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_android_key" />

        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyAnmGktTTz4qZjyyazhV7G2NDPDyhSfio0"/>-->

        <meta-data
            android:name="com.weareholidays.google.SERVER_KEY"
            android:value="@string/google_maps_server_key" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.twitter.sdk.consumer.key"
            android:value="@string/twitter_consumer_key" />

        <meta-data
            android:name="com.twitter.sdk.consumer.secret"
            android:value="@string/twitter_consumer_secret" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7d09d68022fc83296eb7ee53c604e47ef8aee13b" />

        <meta-data android:name="LOCALYTICS_APP_KEY"
            android:value="@string/localytics_app_key"/>

    </application>

</manifest>
